miniapp/client/node_modules/
miniapp/client/build/
miniapp/client/.env
miniapp/client/.env.local
miniapp/client/.next/
miniapp/client/.cache/
miniapp/client/yarn.lock
miniapp/client/.DS_Store

miniapp/server/node_modules/
miniapp/server/.env
miniapp/server/.env.local
miniapp/server/yarn.lock
miniapp/server/.DS_Store

miniapp/node_modules/
miniapp/dist/
miniapp/.env
miniapp/.env.local
miniapp/.DS_Store
miniapp/*.log
miniapp/*.tmp

idea/
.vscode/
*.sublime-project
*.sublime-workspace

.cache/
coverage/
build/
out/